.pagination {
    display: flex;
    justify-content: center;
  
    width: 80%;
  }
  
  .pagination button {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    height: auto;
    margin: 0 5px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .pagination button:hover {
    background-color: #e0e0e0;
  }
  
  .pagination button.active {
    background-color: #8996a5;
    border-color: #007bff;
    color: white;
  }
  
  .pagination button:disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: not-allowed;
  }
  